* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
@font-face {
  font-family: 'bangers';
  src: url('fonts/Bangers-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Bangers-Regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('fonts/Bangers-Regular.woff') format('woff'), /* Pretty Modern Browsers */
      url('fonts/Bangers-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('fonts/Bangers-Regular.svg') format('svg'); /* Legacy iOS */
}

/* 
//////////////////////////////////////
MAIN PAGE
//////////////////////////////////////
*/
.home-container, #about, #contact, #resume, #projects {
  height: 100vh;
  width: 100vw;
}

nav {
  position: fixed;
  top: 30%;
  right: 20px;
  width: 5%
}

.body-container {
  font-family: 'bangers';
}

/* 
//////////////////////////////////////
NAV PROGRESS BAR
//////////////////////////////////////
*/
.nav-progress-container {
  display: flex;
  align-items: center;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.progress-bar {
  position: absolute;
  height: 10px;
  right: -15vh;
  width: 30vh;
  transform:rotate(90deg);
}

.nav-bar-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.nav-bar-links span {
  font-family: 'bangers';
  color: #D89C60;
}

/*
//////////////////////////////////////
SHARED ELEMENTS
//////////////////////////////////////
*/

.section-header {
  display: flex;
  margin: 20px 20vw;
  align-items: center;
  justify-content: center;
}

.section-header .header-accent {
  border-bottom: 4px ridge #E87A00;
  width: 25%;
}

.section-details-container {
  display: flex;
  justify-content: center;
  height: 40vh;
  min-height: 200px;
}

/* 
//////////////////////////////////////
LOGO
//////////////////////////////////////
*/
.logo {
  max-height: 20px;
  box-shadow: 0 0 1px 1px #E87A00;
  border-radius: 50%;
}

/* 
//////////////////////////////////////
ABOVE FOLD BODY
//////////////////////////////////////
*/

.body-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body-container span.first-name {
  color: #E87A00;
  font-size: 190px;
}
.body-container span.last-name {
  margin: 0 auto;
  width: 250px;
  background-color: #E87A00;
  color: #001F3D;
  font-size: 100px;
  text-shadow: 0 0 3px #E87A00;
}

.profile-bust {
  display: none;
  position: relative;
  left: 10%;
  bottom:-100px;
  width: 275px;
  height: 350px;
  background-image: url('../public/ben-profile-bust.png');
  background-size: cover;
}

/* 
//////////////////////////////////////
HEAD NAVIGATION
//////////////////////////////////////
*/

.head-nav-container {
  display: flex;
  justify-content: space-between;
}

.head-logo {
  max-height: 40px;
}
span.head-nav-text {
  font-family: 'bangers';
  color: #D89C60;
  font-size: 25px;
}
.head-nav-links a {
  text-decoration: none;
}

/* 
//////////////////////////////////////
ABOUT
//////////////////////////////////////
*/

.section-header h1 {
  font-family: 'bangers';
  color: #D89C60;
  margin: 20px;
}

.about-details-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  border-left: 5px ridge #045174;
  width: 30%;
}
.about-details-selector ul {
  list-style-type: '\27ab';
}
.about-details-selector ul li {
    font-size: 20px;
    color: #D89C60;
}

.about-details-container {
  background-color: #045174;
  color:#D89C60;
  width: 50%;
}

.about-details p{
  transition: all 750ms ease-in;
}

.about-details-container ul {
  list-style-type: '\27ae';
}


ul li h3 {
  font-size: 20px;
  text-align: left;
  margin-left:20px;
}

/* 
//////////////////////////////////////
PROJECTS
//////////////////////////////////////
*/

.project-details {
  margin-top: 1.3em;
}

.project-details a.link-title {
  font-family: 'bangers';
  font-size: 30px;
  text-decoration: none;
  color: #D89C60;
}

.project-details a.link-title:hover {
  
}

.project-details-container {
  color:#D89C60;
  width: 40vw;
}

.project-details-container ul {
  list-style-type: '\27ae';
}

.project-details-selector {
  color:#D89C60;
  width: 20vw;
  height: 150px;
}

.project-details-selector ul {
  margin-top: 0;
  list-style-type: none;
  padding: 0;
}

.project-details-selector .li-container {
  display: flex;
}
.project-details-selector .selector-indicator {
  transition: border 500ms, color 1ms;
  width: 1px;
  height: unset;
  border-left: 2px solid grey;
}
.project-details-selector .active {
  transition: border 500ms color 1ms;
  width: 1px;
  height: unset;
  border-left: 2px solid #E87A00;
}

/* 
//////////////////////////////////////
TEXT ANIMATION
//////////////////////////////////////
*/

a.link-title {
  border-bottom: 2px solid #D89C60;
}

a.link-title:hover {
  color: #E87A00;
  border-bottom: 2px solid #E87A00;
}

a.link-title span {
  display: inline-block;
  min-width: 7px;
}

a.link-title span:nth-child(1) {
  animation: 5s cubic-bezier(0.68, -0.55, 0.26, 1.55) .2s infinite flip-up;
}

.link-title span:nth-child(2) {
  animation: 5s cubic-bezier(0.68, -0.55, 0.26, 1.55).4s infinite flip-up;
}

.link-title span:nth-child(3) {
  animation: 5s cubic-bezier(0.68, -0.55, 0.26, 1.55).6s infinite flip-up;
}

.link-title span:nth-child(4) {
  animation: 5s cubic-bezier(0.68, -0.55, 0.26, 1.55) .8s infinite flip-up;
}

.link-title span:nth-child(5) {
  animation: 5s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1s infinite flip-up;
}

.link-title span:nth-child(6) {
  animation: 5s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.2s infinite flip-up;
}

.link-title span:nth-child(7) {
  animation: 5s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.4s infinite flip-up;
}

.link-title span:nth-child(8) {
  animation: 5s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.6s infinite flip-up;
}

.link-title span:nth-child(9) {
  animation: 5s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.6s infinite flip-up;
}

.link-title span:nth-child(10) {
  animation: 5s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.8s infinite flip-up;
}

.link-title span:nth-child(11) {
  animation: 5s cubic-bezier(0.68, -0.55, 0.26, 1.55) 2s infinite flip-up;
}
.link-title span:nth-child(12) {
  animation: 5s cubic-bezier(0.68, -0.55, 0.26, 1.55) 2.2s infinite flip-up;
}
.link-title span:nth-child(13) {
  animation: 5s cubic-bezier(0.68, -0.55, 0.26, 1.55) 2.4s infinite flip-up;
}
.link-title span:nth-child(14) {
  animation: 5s cubic-bezier(0.68, -0.55, 0.26, 1.55) 2.6s infinite flip-up;
}
.link-title span:nth-child(15) {
  animation: 5s cubic-bezier(0.68, -0.55, 0.26, 1.55) 2.8s infinite flip-up;
}


@keyframes flip-up {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
